body {
    background-image: url('../midia/background.jpg');

}
.container {
    height: 100%;
    width: 100%;
    flex-direction: column;
}
h2 {
    text-align: center;
    padding: 5px;
    font-size: 25px;
    color: #040157;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: 16vh;
    background: linear-gradient(to right, #ffffff, #ffffff);
    border-bottom: 20px solid #040157;



}

.box-game {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.square {
    height: 120px;
    width: 180px;
    border: 1px solid #040157;
    background-color: white;
}
.enemy {
    background-image: url('../midia/pexels-ilargian-faus-1629781.jpg');
    background-size: cover;
    background-position: center center;
   
}
p {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    display: inline-flex;
}
.box-jogadas {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
    .square {
        height: 100px;
        width: 100px;
    }
}